/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

//#define HOST_OS 2
//#include "helper.h"

#define BASE 0
#define LOWER 1
#define RAISE 2
#define ADJUST 3

/ {
  behaviors {
    td_mt: tap_dance_mod_tap {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&mt LSHIFT CAPSLOCK>, <&kp LCTRL>;
        };
  };

  keymap {
    compatible = "zmk,keymap";

    default_layer {
      bindings = <
        &kp BSPC  &kp N1        &kp N2        &kp N3       &kp N4        &kp N5                                                 &kp N6    &kp N7      &kp N8       &kp N9      &kp N0         &kp MINUS
        &kp ESC   &kp Q         &kp W         &kp E        &kp R         &kp T                                                  &kp Y     &kp U       &kp I        &kp O       &kp P          &kp LBKT
        &mt  ESC   &mt LCTRL A   &mt LALT S         &mt LGUI D        &mt LSHIFT F         &mt  G                                                  &mt H     &mt RSHIFT J       &mt RGUI K        &mt RALT L       &mt RCTRL SEMI &mt RCTRL SQT
        &kp  &kp Z         &kp X         &kp C        &kp V         &kp B            &kp C_MUTE             &kp         &kp N     &kp M       &kp COMMA    &kp DOT     &kp FSLH       &kp RIGHT
                        &kp LCTRL     &kp LALT     &kp LGUI      &lt LOWER SPACE  &lt RAISE RET          &lt RAISE DEL &kp BSPC  &kp LEFT    &kp UP       &kp DOWN
      >;

      sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp C_NEXT C_PREV>;
    };

    lower_layer {
      bindings = <
        &kp DE_SECT  &kp F1         &kp F2       &kp F3        &kp F4       &kp F5                                  &kp F6       &kp F7       &kp F8       &kp F9      &kp F10      &kp F11
        &kp DE_TILD  &kp N1         &kp N2       &kp N3        &kp N4       &kp N5                                  &kp N6       &kp N7       &kp N8       &kp N9      &kp N0       &kp F12
        &kp LA(L)    &kp DE_EXLM    &kp DE_DQUO  &kp DE_HASH   &kp DE_EQL   &kp DLLR                                &kp DE_LPRN  &kp DE_RPRN  &kp DE_CIRC  &kp DE_AMPR &kp DE_ASTR  &kp DE_QUOT
        &kp LSHFT    &kp DE_LABK    &kp DE_PERC  &kp DE_PLUS   &kp DE_LCBR  &kp DE_RCBR  &trans       &trans        &kp DE_LBRC  &kp DE_RBRC  &kp DE_BSLS  &kp DE_SLSH &kp DE_QUES  &kp DE_PIPE
                            &trans       &trans        &trans       &trans       &trans       &kp RG(BSPC)  &kp RA(BSPC) &trans       &trans       &trans
      >;

      sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp C_NEXT C_PREV>;
    };

    raise_layer {
      bindings = <
        &bt BT_CLR_ALL  &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2 &bt BT_SEL 3   &bt BT_SEL 4                                     &kp C_PREV   &kp C_PP    &kp C_NEXT   &trans   &trans   &trans
        &kp K_PASTE     &kp LG(LS(N7))  &kp RG(LEFT)    &kp UP       &kp RG(RIGHT)  &kp PG_UP                                        &kp COMMA    &kp N7      &kp N8       &kp N9   &trans   &trans
        &kp K_COPY      &kp RA(LEFT)    &kp LEFT        &kp DOWN     &kp RIGHT      &kp RA(RIGHT)                                    &kp DOT      &kp N4      &kp N5       &kp N6   &trans   &trans
        &kp LSHFT       &kp K_UNDO      &kp K_COPY      &kp K_PASTE  &kp RA(DOWN)   &kp RA(RS(DOWN))    &trans         &trans        &kp N0       &kp N1      &kp N2       &kp N3   &trans   &trans
                            &trans          &trans       &trans         &trans              &trans         &kp RG(BSPC)  &kp RA(BSPC) &trans      &trans       &trans
      >;
      sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp C_NEXT C_PREV>;
    };
  };
};